@model ProjetoParaProjetos.Models.Tarefa


    <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    @Model.Nome
                </div>
                <div class="card-body">
                    <p class="card-text">@Model.Descricao</p>
                    <p class="card-text">Data de criação: @Model.DataCriacao.ToShortDateString()</p>
                    <p class="card-text">Data de conclusão: @Model.DataConclusao.ToShortDateString()</p>
                    <p class="card-text">Concluída: @Model.Concluida</p>
                    <a asp-controller="Tarefas" asp-action="Create">Cadastrar Nova</a>
                    <a asp-controller="Tarefas" asp-action="Edit" asp-route-id="@Model.TarefaId">Editar</a>
                    <a asp-controller="Tarefas" asp-action="Delete" asp-route-id="@Model.TarefaId">Excluir</a>
                    <a asp-controller="Tarefas" asp-action="Details" asp-route-id="@Model.TarefaId">Detalhes</a>
                </div>
            </div>
        </div>