@model IEnumerable<ProjetoParaProjetos.Models.Projeto>

@{
    ViewData["Title"] = "Index";
    var objetivo =  ViewData["Objetivos"];           
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Procurar">
  <div class="form-group">
                <label for="status" class="control-label">Filtrar por Status</label>
                <select name="status" id="status" class="form-control">
                    <option value="">Selecione um Status</option>

                        <option name="status" value="Finalizado">Finalizado</option>
                        <option name="status" value="Ativo">Ativo</option>
                        <option name="status" value="Pausado">Pausado</option>
                    
                </select>
                     <button type="submit">Procurar</button>
            </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProjetoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProjetoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProjetoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
